<?xml version="1.0"?>
<configuration>
  <appSettings/>
  <system.web>
    <httpRuntime executionTimeout="240" maxRequestLength="102400" />
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.0">
    </compilation>
    <authentication mode="Forms" />
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
</configuration>
